:root {
  --color-primary: #199a9f;
  --color-primary-hover: #168084;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #eee;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1em;
  margin-top: 0.25em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  padding: 7px 14px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #999;
  transition: border-color 0.25s, background-color 0.25s;

  & + button {
    margin-left: 10px;
  }

  &:hover {
    cursor: pointer;
    border-color: #777;
    transition: border-color 0.25s, background-color 0.25s;
    background-color: #efefef;
  }

  &.primary {
    background-color: var(--color-primary);
    color: #fff;
    border-color: var(--color-primary);

    &:hover {
      background-color: var(--color-primary-hover);
      border-color: var(--color-primary-hover);
    }
  }

  &:disabled {
    background-color: #fff;
    color: #ddd;
    border-color: #eee;

    &:hover,
    &:focus {
      cursor: not-allowed;
      background-color: #fff;
      color: #ddd;
      border-color: #eee;
    }
  }
}

input,
textarea,
select {
  padding: 5px 10px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #999;
  outline: none;
  box-sizing: border-box;

  &:focus {
    border-color: var(--color-primary);
  }

  &:disabled {
    &:hover,
    &:focus {
      cursor: not-allowed;
      background-color: #eee;
      color: #ddd;
    }
  }
}

textarea {
  min-width: 100%;
}

// Animations

@keyframes bounce {
  0% { transform:translateY(0%); opacity: 0; }
  50% { transform:translateY(-5%); }
  100% { transform:translateY(0%); opacity: 100%; }
}

.animation-bounce {
  animation: bounce 0.5s ease;
}

@keyframes shake {
  0% { transform: translateX(0%); }
  25% { transform: translateX(-2%); }
  50% { transform: translateX(2%); }
  75% { transform: translateX(-2%); }
  100% { transform: translateX(0%); }
}

.animation-shake {
  animation: shake 0.3s ease;
}

@keyframes submit {
  0% { transform: translateY(0%); opacity: 1; visibility: visible; }
  100% { transform: translateY(-20%); opacity: 0; visibility: hidden; }
}

.animation-submit {
  animation: submit 1s ease-out;
}
